@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Ügyfelek</h2>
<br />

<table id="tablazat" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>ügyfél neve</th>
            <th>előfizetés típusa</th>
            <th>törlés</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var tabla = $("#tablazat").DataTable({
                ajax: {
                    url: "/api/ugyfelek",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "nev",
                        render: function (data, type, ugyfel) {
                            return "<a href='/ugyfelek/szerkesztes/" + ugyfel.id + "'>" + ugyfel.nev + "</a>";
                        }
                    },
                    {
                        data: "elofizetesTipus.nev"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-torles' data-ugyfel-id=" + data + ">Törlés</button>";
                        }
                    }
                ]
            });

            $("#tablazat").on("click", ".js-torles", function () {
                var gomb = $(this);
                bootbox.confirm(
                    "Biztosan törölni akarod ezt az ügyfelet?",
                    function (valasz) {
                        if (valasz) {
                            $.ajax({
                                url: "/api/ugyfelek/" + gomb.attr("data-ugyfel-id"),
                                method: "DELETE",
                                success: function () {
                                    tabla.row(gomb.parents("tr")).remove().draw();
                                }
                            });
                        }
                    });
            });
        });
    </script>
}