@model IEnumerable<WEB191010.Models.Ugyfel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Ügyfelek</h2>
<br />

@if (!Model.Any())
{
    <p>Még nincsenek ügyfelek :'((((</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ügyfél neve</th>
                <th>kedvezmény</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var u in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(u.Nev, "Reszletek", "Ugyfelek", new { id = u.Id }, null)
                    </td>
                    <td>@u.ElofizetesTipus.Kedvezmeny%</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="card sb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="..." class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
}