@model IEnumerable<WEB191010.Models.Film>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Filmek</h2>
<br />

<div class="container">
    <div class="row">
        @foreach (var f in Model)
        {
            @Html.Partial("_FilmBsCard", f)
        }
    </div>
</div>