@{
    ViewBag.Title = "Home Page";
}


<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in bg-">Üdv a filmkölcsönzőnkben!</div>
            <div class="intro-heading text-uppercase bg-transparent">Tök jó, hogy itt vagy!</div>
            <a class="btn-lg btn-success" href="#services">Körülnézek!</a>
        </div>
    </div>
</header>